section {
    padding: 60px 0;
    overflow: hidden;
    margin-left: 300px;
}

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

.section-title {
    padding-bottom: 30px;
    h2 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        color: #173b6c;
        font-family: "Raleway", sans-serif;
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 50px;
            height: 3px;
            background: #149ddd;
            bottom: 0;
            left: 0;
        }
    }
    p {
        margin-bottom: 0;
    }
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #173b6c;
}

.fst-italic {
    font-style: italic!important;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #149ddd;
    line-height: 0;
}

.about .content ul strong {
    margin-right: 10px;
}
